<h1>Hello, I'm Djimo Gassama</h1>
<p>
  I am a software developer. I analyze the customer's needs to put in place
  specifications, then I model the system with the UML language before moving on
  to the development of the application.
</p>
<div class="links">
  <a target="_blank" href="https://github.com/Gastech99">
    <img src="../../assets/github.svg" alt="github" />
    <div class="hidden-label">github</div>
  </a>
  <a target="_blank" href="https://x.com/diaby_ga99">
    <img src="../../assets/twitter.svg" alt="twitter" />
    <div class="hidden-label">twitter</div>
  </a>
  <a target="_blank" href="https://sn.linkedin.com/in/djimo-gassama-848889218">
    <img src="../../assets/linkedin.svg" alt="linkedin" />
    <div class="hidden-label">linkedin</div>
  </a>
  <a target="_blank" href="https://www.youtube.com/@gastech8923">
    <img src="../../assets/youtube.svg" alt="youtube" />
    <div class="hidden-label">youtube</div>
  </a>
</div>
