<section class="dark-section">
  <h2>Experiences</h2>

  <div class="position">
    <div>
      <h3>Network and System Technician Internship</h3>
      <h4>Ciments du Sahel S.A</h4>
      <p>
        Diagnosis and resolution of incidents on software, hardware and systems.
      </p>
      <p>Remote technical assistance, troubleshooting and updating software.</p>
      <p>Installation of computers and configuration of workstations.</p>
      <p>Installation of new IT hardware and equipment.</p>
      <p>User support</p>
    </div>
    <img src="../../assets/position/admin.jpg" alt="sms" />
  </div>
</section>
